.expenses_table__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;

	.expenses_table__Cell {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;

		.expenses_table__account {
			font-size: $font-sm;
			color: $secondary-foreground;
		}
	}

	.expenses_table__date {
		text-align: end;
		font-size: $font-sm;
		color: $secondary-foreground;
	}
}