.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $space-xs;

	div {
		display: flex;
		color: $white;
		background-color: $accent;
		padding: $space-xs;
		border-radius: $radius-lg;
	}
}

.name {
	font-weight: $font-bold;
	color: $dark;
}
