@use "../../../../../styles/variables.scss" as *;

.login__form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	min-width: 300px;
}

.login__form_box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

.login__form_input {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	width: 100%;

	label {
		font-weight: $font-medium;
		color: $dark;
	}

	input {
		border: 1px solid $sidebar-foreground;
		padding: $space-sm;
		border-radius: $radius-md;
		background-color: $background;
		width: 100%;

		&:focus {
			outline: 2px solid $green;
			outline-offset: 2px;
		}
	}
}

.input__wrapper{
	position: relative;
	width: 100%;

	input {
		width: 100%;
	}
	
	.show__password {
		display: flex;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		color: $gray-muted;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:hover{
			color: $dark;
		}
	}
}