@use "../../../styles/variables.scss" as *;

%sidebar__container-base {
	position: fixed;
	min-height: 100vh;
	width: 200px;
	background-color: $white;
	transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 100;
}

%sidebar_item-base {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: $space-xs;
	gap: 1rem;
	border-radius: $radius-lg;
}


.sidebar__container,
.sidebar__container_closed {
	@extend %sidebar__container-base;

	.sidebar__list {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		padding: $space-md $space-xs;
		list-style: none;
	}

	.sidebar__item {
		@extend %sidebar_item-base;
	}

	.sidebar__item_active {
		@extend %sidebar_item-base;
		background-color: $dark;
		color: $white;
	}

	.sidebar__item_icon {
		display: flex;
	}
}

.sidebar__container {
	transform: translateX(0);
}

.sidebar__container_closed {
	transform: translateX(-100%);

	@media (min-width: $breakpoint-lg) {
		transform: translateX(0);
	}
}


