.registerPage__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
		width: 100%;
	}
}

.registerPage__section {
	background-color: $background;
	padding: $space-2xl;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	min-height: 100vh;
	align-items: center;
	margin: 0 auto;

	@media (min-width: $breakpoint-lg) {
		max-width: 50%;
		padding: $space-sm;
	}
}

.registerPage__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.registerPage__header {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.registerPage__headerTitle {
	color: $dark;
}

.registerPage__headerSubtitle {
	color: $gray-muted;
}

.registerPage__btn {
	text-align: center;
	font-weight: $font-medium;
	color: $gray-muted;

	span {
		color: $green;
		cursor: pointer;
	}
}

.register__form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	min-width: 300px;
}

.register__form_box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

.register__form_input {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	width: 100%;

	label {
		font-weight: $font-medium;
		color: $dark;
	}

	input {
		border: 1px solid $sidebar-foreground;
		padding: $space-sm;
		border-radius: $radius-md;
		background-color: $background;
		width: 100%;

		&:focus {
			outline: 2px solid $green;
			outline-offset: 2px;
		}
	}

	.password__status {
		align-items: center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.password__muted,
		.password__passed {
			font-size: $font-sm;
			padding: $space-xs;
			margin: $space-xxs;
			border-radius: $radius-lg;
			font-weight: $font-medium;

			@media (min-width: $breakpoint-lg) {
				font-size: $font-xs;
				padding: $space-xxs;
			}
		}

		.password__muted {
			background-color: $muted;
			color: $muted-foreground;
		}

		.password__passed {
			color: $success;
			background-color: color.adjust($success, $lightness: 55%);
		}
	}

	.password__error {
		color: $destructive;
	}
}

.input__wrapper {
	position: relative;
	width: 100%;

	input {
		width: 100%;
	}

	.show_password {
		display: flex;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		color: $gray-muted;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:hover {
			color: $dark;
		}
	}
}

.registerPage__decorativeSection {
	display: none;

	@media (min-width: $breakpoint-lg) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		max-width: 50%;
		min-height: 100vh;
		padding: $space-3xl;
		gap: 2rem;
		background: linear-gradient(to left, $primary, darken($accent, 5%));
		color: $white;

		.registerPage__decorativeContent {
			padding: 0 $space-xl;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		.registerPage__decorativeTitle {
			font-size: $font-3xl;
			color: $white;
		}

		.registerPage__decorativeSubtitle {
			font-size: $font-lg;
			font-weight: $font-regular;
		}

		.registerPage__decorativeBenefits {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.registerPage__decorativeBenefitsItem {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
		}
	}
}
