%icon-base {
	display: flex;
	color: white;
	padding: $space-xxs;
	border-radius: 50%;
}

%card-base {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.8rem;
	flex: 1;
}

%content-base {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 0.8rem;

	@media (min-width: $breakpoint-sm) {
		padding: $space-lg;
		border-radius: $radius-lg;
	}

	@media (min-width: $breakpoint-sm) {
		color: $white;
	}
}

.StatsCard {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	background-color: $white;
	padding: $space-md;
	border-radius: $radius-lg;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

	@media (min-width: $breakpoint-sm) {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: transparent;
		box-shadow: none;
	}

	@media (min-width: $breakpoint-lg) {
		display: flex;
		flex-direction: row;
	}

	.contentAccount,
	.contentIncomes,
	.contentExpenses,
	.contentTransfers {
		@extend %content-base;
	}
}

@media (min-width: $breakpoint-sm) {
	.contentAccount {
		background: linear-gradient(to right, lighten($accounts, 10%), darken($accounts, 2%));
	}
	.contentIncomes {
		background: linear-gradient(to right, lighten($income, 10%), darken($income, 5%));
	}
	.contentExpenses {
		background: linear-gradient(to right, lighten($expense, 10%), darken($expense, 5%));
	}
	.contentTransfers {
		background: linear-gradient(to right, lighten($transfers, 10%), darken($transfers, 5%));
	}
}

.statsCard__type {
	@extend %card-base;

	@media (min-width: $breakpoint-sm) {
		flex-direction: column;
		gap: 0.2rem;
		align-items: start;

		.statsCard__amount {
			order: 0;
		}
		.statsCard__label {
			order: 1;
		}
	}
}

.statsCard__label {
	flex: 1;
	text-align: left;
}

.statsCard__amount {
	flex: 1;
	text-align: right;
}

.icon_accounts,
.icon_incomes,
.icon_expenses,
.icon_transfers {
	@extend %icon-base;
}

.icon_accounts {
	background-color: $accounts;
}
.icon_incomes {
	background-color: $income;
}
.icon_expenses {
	background-color: $expense;
}
.icon_transfers {
	background-color: $transfers;
}
