%header-base{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $space-md;
	background-color: $white;
	border-bottom: 1px solid $gray-light;
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 2;
}

.header__Mobile {
	@extend %header-base;

	.mobile__menu {
		cursor: pointer;
		color: $dark;
		background-color: transparent;
		display: flex;
		border: none;
	}

	.user__info{
		display: none;
	}
}

.header__Desktop {
	@extend %header-base;
	padding: $space-md $space-xl;

	.user__content{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
}

.user__avatar{
	display: flex;
	color: $green;
	padding: $space-xs;
	border-radius: 50%;
	background-color: lighten($green, 47%);
}

.user__info{
	text-align: right;

	.user__name{
		font-weight: $font-medium;
		color: $dark;
	}

	.user__email{
		font-weight: $font-regular;
		color: $gray-muted;
		font-size: $font-sm;
	}
}
