.monthExpense {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	background-color: $white;
	padding: $space-md;
	border-radius: $radius-lg;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 1;
	width: 100%;

	@media (min-width: $breakpoint-lg) {
		max-width: 80%;
	}
}

.monthExpense__title {
	color: $dark;
	font-weight: $font-medium;
}
