.dashboard {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: space-between;
}

.dashboard__charts {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
	}
}
