.applayout__container {
	min-height: 100vh;
}

.applayout__main_content {
	padding: $space-lg;
	padding-top: calc(70px + $space-lg);
}

.applayout__main_content {
	@media (min-width: $breakpoint-lg) {
		margin-left: 230px;
		max-width: 1800px;
	}
}
