* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-family;
}

body {
	background-color: $background;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;

	::-webkit-scrollbar-track {
		background: transparent;
	}
}
::-webkit-scrollbar-thumb {
	background-color: #94a3b8;
	border-radius: 999px;

	&hover {
		background-color: $gray-muted;
	}
}

a,
h1,
h2,
h3,
h4 {
	text-decoration: none;
	color: $dark;
}

