* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family;
	background-color: $background;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

/* largura do scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* trilho */
::-webkit-scrollbar-track {
  background: transparent;
}

/* barra */
::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* cinza suave */
  border-radius: 999px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $gray-muted;
}


a {
	text-decoration: none;
	color: $dark;
}

