* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family;
	background-color: $background;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $dark;
}

