@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

// --------------------------------------------------
// 🎨 Colors
// --------------------------------------------------

$white: #ffffff;
$dark: #13171f;
$gray-light: #e5e7eb;
$gray-muted: #727b8c;
$green: #12d392;
$blue: #363fc2;

$background: #f8f9fa;
$foreground: $dark;

$card: $white;
$card-foreground: $dark;

$popover: $white;
$popover-foreground: $dark;

/* Primary */
$primary: #0fb67f;
$primary-foreground: $white;

/* Secondary */
$secondary: #eff1f4;
$secondary-foreground: #2f3a4f;

/* Muted */
$muted: #eceff2;
$muted-foreground: #676e7e;

/* Accent */
$accent: #14b7a4;
$accent-foreground: $white;

/* Semantic */

$destructive: #dc2828;
$destructive-foreground: $white;
$success: #16a149;
$success-foreground: $white;
$warning: #f49e0a;
$warning-foreground: $white;

$income: $success;
$income-foreground: $success-foreground;
$accounts: $blue;
$transfers: $warning;
$expense: $destructive;
$expense-foreground: $destructive-foreground;

/* UI */
$border: $gray-light;
$input: $gray-light;
$ring: #0fb67f;

/* Sidebar */
$sidebar-background: $dark;
$sidebar-foreground: #b8bdc5;
$sidebar-primary: $green;
$sidebar-primary-foreground: $white;
$sidebar-accent: #1e232d;
$sidebar-accent-foreground: $white;
$sidebar-border: #242a37;
$sidebar-ring: $green;
$sidebar-muted: $gray-muted;

// --------------------------------------------------
// 🔤 Typography
// --------------------------------------------------
$font-family: "Inter", sans-serif;

/* Fonte size */
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 30px;
$font-4xl: 36px;
$font-5xl: 46px;
$font-6xl: 60px;

/* Font weight */
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* Espaçamento */
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-2xl: 48px;
$space-3xl: 60px;

/* Radius */
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;


// --------------------------------------------------
// 📱 Breakpoints
// --------------------------------------------------
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

