.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 80px;
}

.navbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;

	@media (min-width: $breakpoint-lg) {
		left: 230px;
		right: 0;
		width: calc(100% - 230px);
	}
}

.navbarButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	background-color: $white;
	flex: 1;
	min-width: 0;
	padding: $space-sm $space-xl;
	border-top: 1px solid $gray-light;
	font-weight: $font-bold;
	color: $gray-muted;
	gap: 0.3rem;

	&:not(:first-child) {
		border-left: 1px solid $gray-light;
	}

	&:hover {
		background-color: $gray-light;
	}

	&.navbarButtonActiveIncome {
		color: $income;
	}

	&.navbarButtonActiveExpense {
		color: $expense;
	}

	.incomeIcon {
		width: 18px;
		height: 18px;
		display: flex;
		color: inherit;
	}

	.expenseIcon {
		width: 16px;
		height: 16px;
		display: flex;
		color: inherit;
	}
}
