.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 80px;
}

.state {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 1rem 0;
	color: $gray-muted;
}
