.header {
	width: 100%;
	background-color: $white;
	position: fixed;
	top: 0;
	z-index: 1000;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.headerContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $space-md;
	align-items: center;
	margin: 0 auto;
	max-width: $breakpoint-xxl;
}
