.categoryChart {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	background-color: $white;
	padding: $space-md;
	border-radius: $radius-lg;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 1;
	width: 100%;
	align-items: center;
	text-align: center;

	@media (min-width: $breakpoint-sm) {
		align-items: flex-start;
		text-align: left;
	}

	@media (min-width: $breakpoint-lg) {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		max-width: 300px;
	}
}

.categoryChart__title {
	color: $dark;
	font-weight: $font-medium;
	width: 100%;
	text-align: center;
	margin-bottom: $space-md;

	@media (min-width: $breakpoint-sm) {
		text-align: left;
		margin-bottom: 0;
	}
}

.categoryChart__Content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 100%;

	@media (min-width: $breakpoint-sm) {
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 2rem;
	}

	@media (min-width: $breakpoint-lg) {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
	}
}

.pieChart {
	width: 100%;
	height: 300px;
	min-width: 200px;
	min-height: 200px;
}

.pieChart__infoList {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	max-width: 300px;
}

.pieChart__category {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.pieChart__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.pieChart__infoType {
	color: $dark;
}

.pieChart__infoValue {
	color: $secondary-foreground;
}
