.accountsGrid {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media (min-width: $breakpoint-md) {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 2rem;
	}
}
.accountsCard {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	background-color: $white;
	padding: $space-sm;
	border-radius: $radius-lg;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

	&:hover {
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
	}
}
.accountsCard__currentBalance {
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
	background-color: $background;
	align-items: center;
	padding: $space-sm;
	border-radius: $radius-lg;
}

.accountsCard__currentBalanceLabel {
	font-weight: $font-medium;
}

.accountsCard__currentBalanceValue {
	font-weight: $font-medium;
}

.amountIncome {
	color: $income;
}

.amountExpense {
	color: $expense;
}

.amountDefault {
	color: $secondary-foreground;
}
