.pageHeader__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 1rem;

	@media (min-width: $breakpoint-sm) {
		flex-direction: row;
	}

	.pageHeader__text {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		.pageHeader__title {
			font-size: $font-lg;
			color: $dark;
		}

		.pageHeader__subtitle {
			font-size: $font-md;
			font-weight: $font-regular;
			color: $gray-muted;
		}
	}
}
