.latestExpenses {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: $white;
	border-radius: $radius-lg;
	padding: $space-md;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.latestExpenses__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.latestExpenses__title {
	font-weight: $font-medium;
	color: $dark;
}

.latestExpenses__button {
	color: $gray-muted;
}
