.table {
	width: 100%;
	border-collapse: collapse;
}

.head {
	border-bottom: 1px solid $border;
}

.body {
	tr + tr {
		border-top: 1px solid $border;
	}
}

.headCell {
	text-align: start;
	font-weight: $font-regular;
	color: $secondary-foreground;
	padding: $space-md $space-xs;
}

.headCellEnd {
	text-align: end;
}

.cell {
	padding: $space-sm;
}

.cellEnd {
	text-align: end;
}

.categoryPill {
	display: inline-flex;
	align-items: center;
	gap: $space-xxs;
	padding: $space-xxs;
	border-radius: $radius-lg;
	text-align: center;
	font-size: $font-sm;
	color: $white;
	width: fit-content;
}

.categoryIcon {
	display: inline-flex;
	align-items: center;
	line-height: 0;
}

.categoryLabel {
	display: inline-flex;
	align-items: center;
}

.cellActions {
	padding: $space-sm;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
