.register__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
		width: 100%;
	}
}

.register__section {
	background-color: $background;
	padding: $space-2xl;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	min-height: 100vh;
	align-items: center;
	margin: 0 auto;

	@media (min-width: $breakpoint-lg) {
		max-width: 50%;
		padding: $space-sm;
	}
}

.register__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.register__header {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.register__header_title {
	color: $dark;
}

.register__header_subtitle {
	color: $gray-muted;
}

.register__btn {
	text-align: center;
	font-weight: $font-medium;
	color: $gray-muted;

	span {
		color: $green;
		cursor: pointer;
	}
}

.decorative__section {
	display: none;

	@media (min-width: $breakpoint-lg) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		max-width: 50%;
		min-height: 100vh;
		padding: $space-3xl;
		gap: 2rem;
		background: linear-gradient(to left, $primary, darken($accent, 5%));
		color: $white;

		.decorative__content {
			padding: 0 $space-xl;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		.decorative__title {
			font-size: $font-3xl;
		}

		.decorative__subtitle {
			font-size: $font-lg;
			font-weight: $font-regular;
		}

		.decorative__benefits{
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		
		.decorative__benefits_items{
			display: flex;
			flex-direction: row;
			gap: .5rem;
		}
	}
}
