@use "../../../../../styles/variables.scss" as *;

.table__container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: $white;
	border-radius: $radius-lg;
	padding: $space-md;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

	
}

.container__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.header__title {
		font-weight: $font-medium;
		color: $dark;
	}

	.header__button {
		color: $gray-muted;
	}
}
