.footer{
	width: 100%;
	background-color: $white;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.footerContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $space-lg;
	gap: $space-md;
	max-width: $breakpoint-xxl;

}

.copy {
	color: $gray-muted;
}

@media (min-width: $breakpoint-md) {
	.footerContent {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}
}