.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.6rem;

	.header_icon {
		padding: $space-sm;
		background-color: $gray-light;
		border-radius: $radius-lg;
		display: flex;
	}

	.header_name {
		font-weight: $font-medium;
	}

	.header_type {
		font-weight: $font-regular;
		color: $secondary-foreground;
	}
}
