.register__form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	min-width: 300px;
}

.register__form_box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2.5rem;
}

.register__form_input {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	width: 100%;

	label {
		font-weight: $font-medium;
		color: $dark;
	}

	input {
		border: 1px solid $sidebar-foreground;
		padding: $space-sm;
		border-radius: $radius-md;
		background-color: $background;
		width: 100%;

		&:focus {
			outline: 2px solid $green;
			outline-offset: 2px;
		}
	}

	.password__status {
		align-items: center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.password__muted,
		.password__passed {
			font-size: $font-sm;
			padding: $space-xs;
			margin: $space-xxs;
			border-radius: $radius-lg;
			font-weight: $font-medium;

			@media (min-width: $breakpoint-lg) {
				font-size: $font-xs;
				padding: $space-xxs;
			}
		}

		.password__muted {
			background-color: $muted;
			color: $muted-foreground;
		}

		.password__passed {
			color: $success;
			background-color: color.adjust($success, $lightness: 55%);
		}
	}

	.password__error {
		color: $destructive;
	}
}

.input__wrapper {
	position: relative;
	width: 100%;

	input {
		width: 100%;
	}

	.show_password {
		display: flex;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		color: $gray-muted;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:hover {
			color: $dark;
		}
	}
}
